*.png

.idea/
collect_data.py


__pycache__/
.vscode/
.git/
.pyc

*.code-workspace

user_input*.txt

*fig*.pdf

*.otf
*.ttf

# Untracked files added during development
*.pdf
course/pdf_figures/
course/quiz_responses/
course/vendor/
simulation/output.log
simulation/run.bat
